.button {
  padding: .7rem 2rem;
  border-radius: 3px;
  font-family: $open-sans;
  color: $white;
}

.button_default {
  color: $carmine-pink;
}

.button_positive {
  background-color: $verdigris;
  border-color: $verdigris;

  &:hover {
    background-color: $medium-aquamarine;
    border-color: $medium-aquamarine;
  }
}
