// color

$verde-agua: #C3FFF9;
$verde-grey: #9DD1D0;
$gris: #858585;
$blanco: #fff;
$negro: #000;

// fonts

$pacifico: 'Pacifico', cursive;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

// typefaces



// fonts sizes

$x-large: 32px;
$large: 20px;
$medium: 16px;
$small: 12px;
